html, body {
    width: 100%;
    overflow: auto;
    background-color: #fafafa;
}
.index{
    background-color: #fff !important;
}
.layui-layout-admin .layui-header {
    background-color: #007751;
}

main {
    width: 100%;
    height: 100%;
    /*  background: url(../images/bg.png) no-repeat ;
    background-size:100% 100%; */
    background: #fff url('../images/bg2.png') center/cover;
}

.layui-layout-admin .layui-logo {
    width: 350px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #ffffff;
}

.layui-logo img {
    height: 40px;
}

.laybody {
    padding: 2% 4%;
    /* border: #007751 1px solid; */
}

.layui-carousel {
    width: 90% !important;
    height: 320px !important;
}

h3 {
    font-size: 24px;
    color: #000000;
    border-bottom: solid 2px #cecccc;
}

.zd h3::after, .ky h3::after {
    width: 12%;
}

h3::after {
    content: '';
    display: block;
    width: 15%;
    height: 4px;
    background-color: #007751;
}

.gg h3::after {
    width: 32%;
}

#test1 img {
    width: 100%;
    height: 100%;
}
.new{
    height: 320px;
    overflow: hidden;
}
.news li, .note li {
    padding: 2% 0;
    overflow: hidden;
    border-bottom: solid 2px #cecccc;
}

.news li h4 {
    width: 70%;
    float: left;
    font-size: 14px;
    color: #000000;
    opacity: 0.9;
}

.news li span {
    width: 25%;
    float: right;
    text-align: right;
    font-size: 10px;
    color: #000000;
    opacity: 0.6;
}

.zd h3, .ky h3 {
    width: 90%;
}

.news1 {
    width: 90%;
    padding: 2% 0;
}

.news1 li {
    padding: 1% 0;
}

.news1 li h5 {
    font-size: 15px;
    color: #000000;
    opacity: 1;
}

.news2 {
    width: 45%;
    padding: 2% 0;
}

.news2 li {
    padding: 2% 0;
}

.news2 li h5 {
    font-size: 15px;
    color: #000000;
    opacity: 1;
}

.wtx-form {
    width: 18%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 15%;
    margin-top: 11%;
}

.wtx-logo {
    width: 40px;
    height: 40px;
    margin: auto;
}

.wtx-logo img {
    width: 100%;
    height: 100%;
}

.wtx-title {
    font-family: '华文新魏';
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-bottom: 11%;
    margin-top: 8%;
}

.wtx-label {
    font-size: 12px;
    color: #fff;
}

.wtx-fxk {
    margin-left: 0px;
}

.wtx-lay-in {
    height: 32px!important;
    margin-bottom: 10px;
    margin-top: 6px;
}

/* .layui-form-item {
    margin-bottom: 0px!important;
} */

.layui-row {
    margin-bottom: 4%;
}

.red {
    font-size: 18px;
    color: #ff0000;
    float: right;
}

.img {
    padding: 2% 0;
    width: 40%;
    margin-right: 4%;
}

.imgl {
    float: left;
}

.imgr {
    float: right;
    margin-right: 10%;
}

.img img {
    width: 100%;
}

.form {
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 5px #e2e2e2;
}

.form input {
    background-color: rgb(229, 241, 237);
    border-radius: 5px;
    outline: none;
}

.form .layui-form-item {
    position: relative;
    margin-bottom: 20px;
}

.form .layui-form-item.btn {
    margin-bottom: 0px;
}

.form .layui-form-item .layui-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #4a4a4a;
}

.form .layui-input {
    padding-left: 38px;
}

.pass {
    margin-top: -15px;
}

.pass span {
    font-size: 14px;
    color: #8a8a8a;
    opacity: 0.77;
}

.pass>span {
    float: right;
    line-height: 2;
}

button {
    margin: 10% 0 0;
}

.layui-form-checked[lay-skin=primary] i {
    background-color: #007751;
}

.layui-form-checkbox[lay-skin=primary] span {
    color: #000000;
    opacity: 0.77;
}

.layui-btn {
    background-color: #007751;
    border-radius: 5px;
}

.box .layui-row {
    height: 50%;
}

.note li img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 6%;
}

.note li h4 {
    font-size: 14px;
    line-height: 3;
    color: #000000;
    opacity: 0.9;
}

.note li span {
    font-size: 10px;
    color: #000000;
    opacity: 0.6;
}

.layui-carousel-ind li.layui-this {
    background-color: #007751;
}

.layui-nav-item a:hover {
    text-decoration: none;
}

.layui-nav-child {
    line-height: 36px !important;
}

dd, dt {
    line-height: 36px !important;
}