<!DOCTYPE html>
<html>

<head>
  <title>高校实验室管理平台 </title>
  <meta name="keywords" content="高校实验室管理平台" />
  <meta name="description" content="高校实验室管理平台" />
  <meta charset="utf-8">
  <meta name="view-port">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/u-reset.css">
  <link rel="stylesheet" href="./assets/css/layui.css">
  <!-- <link rel="stylesheet" href="./css/monitaring.css"> -->
  <link rel="stylesheet" href="./assets/css/login.css">
  <link rel="icon" href="./assets/images/icon.png">
  <link rel="stylesheet" href="./assets/css/icon.css">
  <script src="./assets/js/jQuery/jquery-3.4.1.js"></script>
  <script src="./assets/js/layui_exts/echarts.min.js"></script>
  <script src="./assets/js/index.js"></script>

</head>

<body class="index">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">
        <img src="./assets/images/logo.png" alt="">
        高校实验室管理平台
      </div>
      <ul class="layui-col-md7 layui-hide-xs  layui-nav layui-layout-left" style="margin-left:20%;">
        <li class="layui-nav-item">
          <a href="javascript:;">设备</a>
          <dl class="layui-nav-child">
            <dd><a href="./files/device/device.html">设备信息查看</a></dd>
            <dd><a href="./files/device/labInformation.html">项目信息</a></dd>
            <dd><a href="./files/device/monitaring.html">实验状态监控</a></dd>
            <dd><a href="./files/device/deviceInformation.html">智能分析</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">耗材</a>
          <dl class="layui-nav-child">
            <dd><a href="./files/consume/consume_inform.html">基本资料</a></dd>
            <dd><a href="./files/consume/consume_storage.html">申请购置</a></dd>
            <dd><a href="./files/consume/consume-custudy.html">保管领用</a></dd>
            <dd><a href="./files/consume/consume-norm.html">管理标准</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">预约</a>
          <dl class="layui-nav-child">
            <dd><a href="./files/arrange/arrange-page.html">预约安排</a></dd>

          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">项目</a>
          <dl class="layui-nav-child">
            <dd><a href="./files/project/project-science.html">实验项目</a></dd>
            <dd><a href="javascript:;">教学资源</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">系统</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">用户信息</a></dd>
            <dd><a href="./files/system/system-password.html">密码修改</a></dd>
          </dl>
        </li>
      </ul>

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide-sm layui-show-xs-inline-block"><i class="iconfont icon-caidan1"></i></li>
        <li class="layui-nav-item"><a href="./index.html"><i class="iconfont icon-shouye"></i>主页</a></li>
        <li class="layui-nav-item"><a href="./login.html">退出</a></li>
      </ul>
    </div>
    <div class="laybody">
      <div class="layui-row">
        <div class="layui-col-md9 banner">
          <div class="layui-carousel" id="test1">
            <div carousel-item>
              <div><img src="./assets/images/banner1.png" alt=""></div>
              <div><img src="./assets/images/banner2.png" alt=""></div>
              <div><img src="./assets/images/banner3.png" alt=""></div>
            </div>
          </div>
        </div>
        <div id="news">
          <div class="layui-col-md3 new">
            <h3><a href="javascript:;">新闻<span class="red">更多<i class="layui-icon">&#xe602;</i> </span></a></h3>
            <ul class="news">
              <a :href="'./files/news/details.html?id='+item.id"  v-for="(item,index) in news" key="index">
                <li>
                  <h4 class="hidden2">{{item.title}}</h4>
                  <span>{{item.time}}</span>
                  
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="layui-row">
        <div id="system">
          <div class="layui-col-md9 zd">
            <h3><a href="javascript:;">实验制度 <span class="red">更多<i class="layui-icon">&#xe602;</i> </span></a></h3>
            <div class="img imgl">
              <img src="./assets/images/1-1.png" alt="">
            </div>
            <ul class="news news1">
              <a :href="'./files/regime/system.html?id='+item.id" v-for="(item,index) in system" key="index">
                <li>
                  <h5 class="hidden1">{{item.title}}</h5>
                </li>
              </a>

            </ul>
          </div>
        </div>

        <div class="layui-col-md3">
          <h3>项目概览</h3>
          <!--  <form action="" class="layui-form">
              <div class="layui-form-item"><label class="layui-icon  layui-icon-username  "></label>
                <input type="text" name="username" lay-verify="required|username" autocomplete="off" placeholder="请输入用户名"
                  class="layui-input">
              </div>
              <div class="layui-form-item"><label class="layui-icon  layui-icon-password  "></label>
                <div><input type="password" name="password" lay-verify="required|pass" placeholder="请输入密码"
                    autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="pass">
                <input type="checkbox" name="" title="记住密码" lay-skin="primary">

              </div>
              <div class="layui-form-item btn">
                <button class="layui-bg-default layui-btn layui-btn-fluid" lay-submit lay-filter="go">登录
                </button>

              </div>
            </form> -->
          <div class="echarts" style="width: 100%; height: 240px; padding: 2% 0;"></div>
        </div>
        <div class="layui-row">
          <div id="study">
            <div class="layui-col-md9 ky">
              <h3><a href="javascript:;">教学科研 <span class="red">更多<i class="layui-icon">&#xe602;</i> </span></a></h3>
              <div class="img imgr">
                <img src="./assets/images/1-2.png" alt="">
              </div>
              <ul class="news news2">
                <a :href="'./files/study/study.html?id='+item.id" v-for="(item,index) in study" key="index">
                  <li>
                    <h5 class="hidden1">{{item.title}}</h5>
                  </li>
                </a>
              </ul>
            </div>
          </div>
          <div id="notice">
            <div class="layui-col-md3 gg">
              <h3><a href="javascript:;">通知公告 <span class="red">更多<i class="layui-icon">&#xe602;</i> </span></a></h3>
              <ul class="note">
                <a :href="'./files/notice/notice.html?id='+item.id" v-for="(item,index) in notice" key="index">
                  <li>
                    <img src="./assets/images/1-3.png" alt="">
                    <h4 class="hidden1">{{item.title}}</h4>
                    <span>{{item.time}}</span>
                  </li>
                </a>
              </ul>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <script src="./assets/js/layui_exts/layui.all.js"></script>
  <script src="./assets/js/vue/axios.js"></script>
  <script src="./assets/js/vue/vue.min.js"></script>

  <script>
    layui.use(['layer', 'form', 'carousel', 'element'], function () {

      let { layer, form, $, carousel, element } = layui;
      carousel.render({
        elem: '#test1'
        , width: '100%' //设置容器宽度
        , arrow: 'always' //始终显示箭头
        //,anim: 'updown' //切换动画方式
      });
      form.verify({
        username: function (value, item) { //value：表单的值、item：表单的DOM对象
          if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
            return '用户名不能有特殊字符';
          }
          if (/(^\_)|(\__)|(\_+$)/.test(value)) {
            return '用户名首尾不能出现下划线\'_\'';
          }
          if (/^\d+\d+\d$/.test(value)) {
            return '用户名不能全为数字';
          }
        }
        , pass: [
          /^[\S]{6,12}$/
          , '密码必须6到12位，且不能出现空格'
        ]
      });
      const user = {
        username: 'admin',
        password: '123456'
      }
      let s = localStorage.setItem('user', JSON.stringify(user));
      form.on('submit(go)', function (data) {
        let storage = window.localStorage.getItem('user');
        let storages = JSON.parse(storage);
        let username = storages['username'];
        let password = storages['password'];
        let datas = data.field;

        if (password === datas['password'] && username === datas['username']) {
          layer.msg('登录成功', { icon: 1 });
          location.href = "./index.html";
        } else {
          layer.msg('用户名或密码错误', { icon: 2 });
        }

        return false;//阻止action动作

      })
    });
  </script>
  <script>
    new Vue({
      el: "#news",
      data: {
        news: null,
        time: {}
      },
      methods: {
        indexnews() {
          let url = "http://192.168.0.117:8080/lab/allnewslatestfive";
          axios({
            url,
            method: "get",
          }).then(res => {
            this.news = res.data.data;
            this.news.map(ele => {
              ele.time = new Date(ele.time);
              let batchTime = ele.time.getFullYear() + '-' + (ele.time.getMonth() + 1) + '-' + ele.time.getDate();
              ele.time = batchTime;
              return ele;
            });
            // console.log(res);
          }).catch(err => {
            console.log(err);
          })
        }
      },
      mounted() {
        this.indexnews();
      }
    })
    new Vue({
      el: "#system",
      data: {
        system: null,
      },
      methods: {
        indexsystem() {
          let url = "http://192.168.0.117:8080/lab/allregime";
          axios({
            url,
            method: "get",
          }).then(res => {
            // console.log(res);
            this.system = res.data.data;
            // console.log(this.system);

          }).catch(err => {
            console.log(err);
          })
        }
      },
      mounted() {
        this.indexsystem();
      }
    })
    new Vue({
      el: "#study",
      data: {
        study: null,
      },
      methods: {
        indexstudy() {
          let url = "http://192.168.0.117:8080/lab/allstudy";
          axios({
            url,
            method: "get",
          }).then(res => {
            // console.log(res);
            this.study = res.data.data;
            // console.log(this.study);
          }).catch(err => {
            console.log(err);
          })
        }
      },
      mounted() {
        this.indexstudy();
      }
    })
    new Vue({
      el: "#notice",
      data: {
        notice: null,
      },
      methods: {
        indexnotice() {
          let url = "http://192.168.0.117:8080/lab/allnotice";
          axios({
            url,
            method: "get",
          }).then(res => {
            // console.log(res);
            this.notice = res.data.data;
            // console.log(this.notice);
            this.notice.map(ele => {
              ele.time = new Date(ele.time);
              let batchTime = ele.time.getFullYear() + '-' + (ele.time.getMonth() + 1) + '-' + ele.time.getDate();
              ele.time = batchTime;
              return ele;
            });
            // console.log(res);
          }).catch(err => {
            console.log(err);
          })
        }
      },
      mounted() {
        this.indexnotice();
      }
    })

  </script>
</body>

</html>